<!DOCTYPE html>
<html>
<head>
    <title>Registrar Instructor</title>
</head>
<body>
    <h1>Registrar Instructor</h1>
    <form action="/instructor/register" method="post">
        Nombre: <input type="text" name="nombre" required><br>
        Experiencia: <input type="number" name="experiencia" required><br>
        Correo: <input type="email" name="correo" required><br>
        Especialidad: <input type="text" name="especialidad" required><br>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>